/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #1E172D; }

body {
  font-family: 'proxima-nova', Helvetica;
  color: #9889BB; }

#main {
  width: 600px;
  display: block;
  margin: 50px auto; }
  #main section {
    display: block;
    float: left;
    width: 250px;
    padding: 20px; }
    #main section h1 {
      color: #fff;
      font-size: 30px;
      text-transform: uppercase; }
    #main section ul {
      list-style-type: circle;
      margin-top: 30px;
      line-height: 170%;
      width: 250px;
      margin-right: 80px;
      padding-bottom: 100px; }
  #main li a {
    color: #57BFD1;
    -webkit-transition: all 0.2s ease-in;
    display: block;
    width: 250px; }
    #main li a:hover {
      color: #fff; }
  #main #right h1 {
    text-decoration: line-through; }
  #main #Done li {
    opacity: 0.6; }

#info {
  margin: 0 auto;
  display: block;
  width: 600px;
  text-align: center;
  color: #00B668;
  padding: 20px 0; }
